@import '../../../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../../common/src/assets/scss/variables';
@import '../../../../../../../../node_modules/bootstrap/scss/mixins';

.length,
.width,
.height {
  flex-grow: 1;

  @include media-breakpoint-up(sm) {
    width: 80px;
    min-width: 80px;
  }
}

.pieces {
  flex-grow: 2;

  @include media-breakpoint-up(sm) {
    width: 80px;
    min-width: 80px;
  }
}

.class {
  flex-grow: 2;

  @include media-breakpoint-up(sm) {
    width: 95px;
    min-width: 95px;
  }
}

.weight {
  flex-grow: 2;

  @include media-breakpoint-up(sm) {
    width: 120px;
    min-width: 120px;
  }
}

.pieces-type {
  flex-grow: 2;

  @include media-breakpoint-up(sm) {
    width: 130px;
    min-width: 130px;
  }
}
