<h1 mat-dialog-title class="font-weight-bold">Bill of Lading Drafts</h1>
<mat-dialog-content>
  <p>
    The BOL Drafts section shows all of the current Bills of Lading saved as drafts for this My Estes account. 
    You can sort the columns by clicking the arrow that appears when you hover over the column headers for 
    BOL Reference #, BOL Date, PRO #, Shipper, and Consignee. You can edit your draft by selecting the pencil icon. 
    This takes you to the "Create BOL" section of our application, where you can complete and submit your BOL.
  </p>
</mat-dialog-content>
