<div class="estes-app">
  <lib-header></lib-header>
  <lib-cms-alert appName="requestInfo"></lib-cms-alert>
  <main id="content" class="container">
    <div class="row">
      <div id="main" class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 order-xs-first order-sm-first order-md-last order-lg-last order-xl-last">
        <router-outlet></router-outlet>
      </div>
      <div id="sidebar" class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 order-xs-last order-sm-last order-md-first order-lg-first order-xl-first">
        <lib-left-navigation></lib-left-navigation>
        <lib-quick-links></lib-quick-links>
        <lib-left-promo></lib-left-promo>
      </div>
    </div>
  </main>
  <lib-footer></lib-footer>
</div>
