<h1 mat-dialog-title>Additional Cargo Liability Coverage Guidelines</h1>
<p>
  <font color="red"><b>Standard Liability</b></font
  ><br />Be sure to consider whether you need to purchase additional coverage. As per Item 350 of
  our <a [href]="rulesTariffUrl" target="_blank">Estes Rules Tariff EXLA 105</a>, Estes' standard
  liability on spot quotes cannot exceed $2.00 per pound/per article for new products or equipment.
  The liability limit for anything used OR new and uncrated is $0.10 per pound/per article. Estes'
  standard maximum liability is $10,000 per trailer. <br /><br />
  <font color="red"><b>Full Value Coverage (FVC)</b></font
  ><br />
  If you need additional liability coverage, indicate the amount desired in the applicable field.
  Please note that quotes for Volume and Truckload are the only ones that include the cost of FVC
  when coverage is requested in this quote application. Cost is added for other service levels at
  the time of billing. Please refer to Item 350 of the
  <a [href]="rulesTariffUrl" target="_blank">Estes Rules Tariff EXLA 105</a>
  for complete details.
  <font color="red"
    ><i
      >Remember, to obtain coverage, you <b>must</b> write the amount of Full Value Coverage you are
      requesting on your Bill of Lading.</i
    ></font
  >
</p>
<mat-dialog-actions>
  <button class="btn btn-default" mat-dialog-close>Close</button>
</mat-dialog-actions>
