<lib-form-header [color]="'red'">Charge Items</lib-form-header>
<div class="detail-desc">
  <table class="table table-bordered table-striped table-hover table-sm detail">
    <thead>
      <tr>
        <th scope="col">
          Description
        </th>
        <th scope="col">
          Charge
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of charges">
        <td *ngIf="isFuelSurcharge(c.description); else notFuelSurcharge">
          <a [href]="fuelSurchargeUrl" target="_blank">{{ c.description }}</a>
        </td>
        <ng-template #notFuelSurcharge
          ><td *ngIf="!isFuelSurcharge(c.description)">{{ c.description }}</td></ng-template
        >
        <td>{{ c.amount }}</td>
      </tr>
      <tr *ngIf="!charges.length">
        <td colspan="2" style="font-style: italic;">There are no additional charge items.</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total Estimated Freight Charges</td>
        <td>{{ quote.pricing.totalPrice | currency: 'USD' }}</td>
      </tr>
    </tfoot>
  </table>
</div>
