<h1 mat-dialog-title class="font-weight-bold">Bill of Lading Templates</h1>
<mat-dialog-content>
  <p>
    The BOL Template section shows all saved Bill of Lading templates created for this My Estes account. 
    You can sort the columns by clicking one of the arrows that appears when you hover over the column 
    headers for Template Name, BOL Reference #, BOL Date, PRO #, Shipper, and Consignee. To create a 
    totally new template, simply choose to save your document as a template after you complete a Bill of Lading 
    in the Create BOL section of the application.
  </p>
</mat-dialog-content>
