@import '../../../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../../common/src/assets/scss/variables';
@import '../../../../../../../../node_modules/bootstrap/scss/mixins';

.rate-quote-title {
  text-transform: uppercase;
}

.quote-actions {
  @include media-breakpoint-up(lg) {
    justify-content: flex-end;
  }
  @include media-breakpoint-down(md) {
    margin-top: 1rem;
  }
}
