/* You can add global styles to this file, and also import other style files */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../common/src/assets/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.mat-row, .mat-header-row {
  height: auto;
  td.mat-cell, th.mat-header-cell {
    border-bottom: none;
  }
}

@include media-breakpoint-up(lg) {
  .mat-column-payment {
    flex: 0 0 100px;
    .mat-form-field {
      max-width: 75px;
    }
  }
  .mat-column-action {
    justify-content: flex-end;
    flex: 0 0 150px;
  }
}

.adjust-payment-row {
  min-height: 0;

  margin-top: -1px;
}

.expanded-background {
  border-bottom: 0;
}