<mat-card class="p-0">
  <form [formGroup]="formGroup">
    <mat-card-header><mat-card-title>Email Images</mat-card-title></mat-card-header>
    <mat-card-content mat-dialog-content>
      <div class="form-row">
        <div class="form-group col-12">
          <mat-form-field appearance="outline">
            <mat-label>Email Addresses (one per line)</mat-label>
            <textarea
              matInput
              rows="10"
              name="email"
              id="email"
              required
              formControlName="recipientEmails"
              placeholder="Email@example.com"
            ></textarea>
            <mat-error *ngIf="recipientEmails.invalid">{{
              formService.getErrorMessage(recipientEmails)
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <lib-feedback [message]="errorMessage"></lib-feedback>
    </mat-card-content>
    <mat-card-actions mat-dialog-actions cdkFocusRegionstart class="pr-4 pl-4 pb-4 pt-0">
        <button type="submit" (click)="onSubmit()" class="btn btn-primary">
          Submit <i class="fas fa-sync-alt fa-spin" *ngIf="loading"></i></button
        >&nbsp;
        <button type="button" class="btn btn-default" (click)="onNoClick()">
          Cancel
        </button>
    </mat-card-actions>
  </form>
</mat-card>

