<!-- <div class="action-column__header mb-2">
  <i class="fa fa-arrow-circle-right mr-2"></i><span class="text-uppercase">Next Steps</span>
</div>
<p>
  When you use a quote number you agree that you have read and understand the Rate Quote
  Disclosures.
</p>
<button class="w-100 btn btn-default--action d-flex justify-content-between mt-2">
  <span>Create BOL<i class="fal fa-lock-alt ml-1"></i></span>
</button>
<button class="w-100 btn btn-default--action d-flex justify-content-between mt-2">
  <span>Request Pickup<i class="fal fa-lock-alt ml-1"></i></span>
</button> -->
<ng-template appNextStepsHost></ng-template>
